* {
  margin: 0;
  padding: 0;
  user-select: none;
  --webkit-user-select: none;
}

:root {
  --deco1: url("/img/deco1.svg");
  --deco2: url("/img/deco2.svg");
}

@font-face {
  font-family: BlueakaBeta2GBK-DemiBold;
  src: url('/fonts/BlueakaBeta2GBK-DemiBold.ttf') format('truetype');
  /* src: url('https://cdn.jsdelivr.net/gh/o0w0b/StaticFiles@main/fonts/BlueakaBeta2GBK-DemiBold.ttf') format('truetype'); */
}

@font-face {
  font-family: BlueakaBeta2GBK-Bold;
  src: url('/fonts/BlueakaBeta2GBK-Bold.ttf') format('truetype');
  /* src: url('https://cdn.jsdelivr.net/gh/o0w0b/StaticFiles@main/fonts/BlueakaBeta2GBK-Bold.ttf') format('truetype'); */
}

body {
  background-color: #fff;
  overflow: hidden;
  font-family:
    BlueakaBeta2GBK-DemiBold, BlueakaBeta2GBK-Bold, 'Nunito Sans', 'Noto Sans JP', Inter, '-apple-system', BlinkMacSystemFont,
    'PingFang SC', 'Hiragino Sans GB', 'noto sans', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

.blue-text-color {
  color: #0a5694;
}

/* 放大 Checkbox 外观 */
.welcome-checkbox .arco-checkbox-icon {
  width: 21px !important;
  height: 21px !important;
  /* 线条更清晰 */
  border-width: 2px !important;
  /* 想更圆可改成 50% */
  border-radius: 3px !important;
}

/* 字体 */
.welcome-checkbox-text {
  font-size: 17px;
  margin-left: 9px;
  color: #2d7bff;
}


#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 400px) {
  .arco-page-header-wrapper .arco-page-header-header {
    justify-content: center;
  }
}

.arco-page-header-main .arco-page-header-title {
  white-space: normal;
  text-align: center;
}

.arco-modal-footer,
.arco-modal-body {
  text-align: center !important;
}

.arco-modal {
  width: auto !important;
}

.arco-modal-header .arco-modal-title {
  height: 100%;
  width: auto;
  position: relative;
  flex: unset !important;
  font-size: 20px;
  color: #003153;
}

.arco-modal-header .arco-modal-title:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: #ffe433;
  bottom: 0;
}

.arco-modal-header {
  justify-content: center;
}

.arco-modal-close-btn {
  right: 15px;
  position: absolute;
}

.arco-btn {
  transform: skewX(-10deg);
  border-radius: 4px !important;
}

.arco-modal-body {
  padding: 75px 100px 50px !important;
  font-size: 16px !important;
  /* max-width: 240px; */
  background: #f0f0f0;
}

.arco-modal> :last-child.arco-modal-body {
  padding: 75px 100px !important;
  background-size: contain;
  background: #f0f0f0 var(--deco1) no-repeat right !important;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large) !important;
}

.arco-modal-footer {
  background-size: contain;
  background: #f0f0f0 var(--deco1) no-repeat right !important;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large) !important;
}

.arco-modal-header {
  background-color: #f1f2f4;
  background-image: var(--deco2);
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.arco-modal-footer {
  background: #f0f0f0;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  border-top: unset !important;
  padding: 24px 32px !important;
}

.arco-btn-secondary {
  background: #daeef5 !important;
  color: #003153 !important;
  filter: drop-shadow(0px 1px 2px #0004);
  padding: 20px 40px !important;
  font-size: 18px !important;
  transition: transform 0.1s !important;
}

.arco-btn-primary {
  background: #77deff !important;
  color: #003153 !important;
  filter: drop-shadow(0px 1px 2px #0004);
  padding: 20px 40px !important;
  font-size: 18px !important;
  transition: transform 0.1s !important;
}

.arco-btn-primary:active,
.arco-btn-secondary:active {
  transform: scale(0.9) skewX(-10deg);
}

.arco-trigger-popup {
  z-index: -1 !important;
}

.arco-modal {
  border-radius: var(--border-radius-large) !important;
}

.arco-modal-header .arco-icon {
  font-size: 30px;
  vertical-align: -8px !important;
  transition: transform 0.1s !important;
}

.arco-modal-header .arco-icon:active {
  transform: scale(0.9);
}

#curtain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  animation-name: example;
  animation-duration: 3s;
  display: none;
}

@keyframes example {
  0% {
    background-color: transparent;
  }

  25% {
    background-color: #000;
  }

  50% {
    background-color: #000;
  }

  75% {
    background-color: #000;
  }

  100% {
    background-color: transparent;
  }
}

.zoom-modal-enter-from,
.zoom-modal-appear-from {
  transform: scale(1) translateY(100%) !important;
  opacity: 0;
}

.zoom-modal-enter-to,
.zoom-modal-appear-to {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.zoom-modal-enter-active,
.zoom-modal-appear-active {
  transition:
    opacity 0.4s cubic-bezier(0.3, 1.3, 0.3, 1),
    transform 0.4s cubic-bezier(0.3, 1, 0.3, 1) !important;
}

#background canvas {
  height: max(100vh, 100vw * (1440 / 2560));
  width: max(100vh / (1440 / 2560), 100vw);
}